.article-paragraph {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @apply text-base;
}

/* Inline code */
:not(pre)>code {
  @apply font-mono py-0.5 px-1 mx-0.5 break-words;
  @apply bg-primary-100 dark:bg-gray-700 text-primary-800 dark:text-white transition-colors rounded-md;
  white-space: normal;
}

/* task list */
.task-list-item {
  @apply flex items-center;
}

.task-list-item-checkbox {
  @apply relative appearance-none mr-2 h-4 w-4 border rounded disabled:opacity-80 disabled:cursor-not-allowed outline-none;
  @apply border-primary-400 checked:bg-primary-700 to-primary-500;
  @apply dark:border-dark-500 dark:checked:bg-dark-600 dark:to-dark-400;
}

.task-list-item-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

/* shiki支持 */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* 可选，用于定义字体样式 */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.bh-pre {
  @apply relative rounded overflow-hidden;
}

.shiki code {
  @apply overflow-x-auto w-full block py-4;
}

.shiki .line {
  @apply inline-block w-full px-4;
}

/* 代码高亮 */
.shiki .highlighted span,
.shiki .diff span {
  @apply !bg-transparent dark:!bg-transparent;
}

.shiki .highlighted {
  @apply bg-gray-500/10;
}

html.dark .shiki .highlighted {
  @apply !bg-gray-50/10;
}

/* 代码diff */
.shiki .diff.remove {
  @apply !bg-red-200 dark:!bg-red-900/50;
}

.shiki .diff.remove::before {
  content: "−";
  @apply text-red-500 dark:text-red-400 absolute left-1;
}

.shiki .diff.add {
  @apply !bg-green-200 dark:!bg-green-900/50;
}

.shiki .diff.add::before {
  content: "+";
  @apply text-green-500 dark:text-green-400 absolute left-1;
}

/* 复制按钮 */
.bh-pre .bh-copy {
  @apply absolute top-2 right-2 rounded cursor-pointer w-8 h-8 opacity-0 duration-150;
  @apply border border-gray-200 dark:border-gray-500 bg-gray-50 dark:bg-gray-800;
}
.bh-pre .bh-copy::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxLjJlbSIgaGVpZ2h0PSIxLjJlbSIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIGQ9Ik05IDVIN2EyIDIgMCAwIDAtMiAydjEyYTIgMiAwIDAgMCAyIDJoMTBhMiAyIDAgMCAwIDItMlY3YTIgMiAwIDAgMC0yLTJoLTIiLz48cGF0aCBkPSJNOSA1YTIgMiAwIDAgMSAyLTJoMmEyIDIgMCAwIDEgMiAydjBhMiAyIDAgMCAxLTIgMmgtMmEyIDIgMCAwIDEtMi0yIi8+PC9nPjwvc3ZnPg==') no-repeat 50% 50%;
  @apply bg-gray-800 dark:bg-gray-100;
}

.bh-pre .bh-copy.copied {
  @apply opacity-100;
}

.bh-pre .bh-copy.copied::before {
  mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxLjJlbSIgaGVpZ2h0PSIxLjJlbSIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIGQ9Ik05IDVIN2EyIDIgMCAwIDAtMiAydjEyYTIgMiAwIDAgMCAyIDJoMTBhMiAyIDAgMCAwIDItMlY3YTIgMiAwIDAgMC0yLTJoLTIiLz48cGF0aCBkPSJNOSA1YTIgMiAwIDAgMSAyLTJoMmEyIDIgMCAwIDEgMiAydjBhMiAyIDAgMCAxLTIgMmgtMmEyIDIgMCAwIDEtMi0ybTAgOWwyIDJsNC00Ii8+PC9nPjwvc3ZnPg==') no-repeat 50% 50%;
  @apply bg-green-600 dark:bg-green-400;
}

.bh-pre:hover .bh-copy {
  @apply opacity-100 duration-150;
}

/* 语言显示 */
.bh-pre .bh-lang {
  @apply absolute top-0 left-0 w-full text-right px-2 py-1 text-xs !text-gray-600 dark:!text-gray-400 opacity-100 duration-150 select-none;
}

.bh-pre:hover .bh-lang,
.bh-pre .bh-copy.copied + .bh-lang {
  @apply opacity-0;
}

/* 代码组 */
.bh-code-group .tabs {
  @apply flex rounded-t border-b border-gray-100 dark:border-gray-700 gap-4 px-4;
  @apply bg-white dark:bg-[#282A36];
}

.bh-code-group .bh-pre {
  @apply !rounded-t-none hidden;
}

.bh-code-group .bh-pre.active {
  @apply block;
}

.bh-code-group .tabs input[type="radio"] {
  @apply hidden;
}

.bh-code-group .tabs label {
  @apply cursor-pointer leading-10 text-sm text-gray-600 dark:text-gray-400 border-gray-200 dark:border-gray-500 relative duration-150;
}

.bh-code-group .tabs input[type="radio"]:checked + label {
  @apply text-gray-800 dark:text-gray-100;
}

.bh-code-group .tabs input[type="radio"] + label::after {
  content: '';
  @apply block left-0 right-0 bottom-0 h-0.5 bg-transparent duration-150;
}

.bh-code-group .tabs input[type="radio"]:checked + label::after {
  content: '';
  @apply bg-primary-400 dark:bg-dark-400;
}