.article-paragraph {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @apply text-base;
}

/* prismjs */
code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-50 bg-none font-mono text-base text-left whitespace-pre break-normal leading-6 rounded-md;
  word-spacing: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
.code-block {
  @apply relative my-2 p-0 bg-gray-100 dark:bg-slate-800 transition-colors rounded-md;
}

.code-lang {
  @apply select-none rounded-md px-2 pt-1 transition-colors text-sm text-right;
  @apply bg-gray-100 dark:bg-slate-800 text-gray-400 dark:text-gray-500;
}

/* pre[class*='language-'] {
  @apply pb-4 pt-0 overflow-auto select-text;
}

code[class*='language-'] {
  @apply text-gray-700 dark:text-gray-100;
} */

/* Inline code */
:not(pre)>code {
  @apply font-mono py-0.5 px-1 mx-0.5 break-words;
  @apply bg-primary-100 dark:bg-slate-700 text-primary-800 dark:text-white transition-colors rounded-md;
  white-space: normal;
}

/* shiki支持 */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* 可选，用于定义字体样式 */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki {
  @apply relative rounded;
}

.shiki code {
  @apply overflow-x-auto w-full block p-4;
}

.shiki .line {
  @apply inline-block w-full;
}

.shiki .highlighted span,
.shiki .diff span {
  @apply !bg-transparent dark:!bg-transparent;
}

.shiki .highlighted {
  @apply bg-gray-500/10;
}

html.dark .shiki .highlighted {
  @apply !bg-gray-50/10;
}

.shiki .diff.remove {
  @apply !bg-red-200 dark:!bg-red-900/50;
}

.shiki .diff.remove::before {
  content: "−";
  @apply text-red-500 dark:text-red-400 absolute left-1.5;
}

.shiki .diff.add {
  @apply !bg-green-200 dark:!bg-green-900/50;
}

.shiki .diff.add::before {
  content: "+";
  @apply text-green-500 dark:text-green-400 absolute left-1.5;
}

/* 复制按钮 */
.shiki .bh-copy {
  @apply absolute top-2 right-2 rounded cursor-pointer w-8 h-8 opacity-0 duration-150;
  @apply border border-gray-200 dark:border-gray-500 bg-gray-50 dark:bg-gray-700;
}
.shiki .bh-copy::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxLjJlbSIgaGVpZ2h0PSIxLjJlbSIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIGQ9Ik05IDVIN2EyIDIgMCAwIDAtMiAydjEyYTIgMiAwIDAgMCAyIDJoMTBhMiAyIDAgMCAwIDItMlY3YTIgMiAwIDAgMC0yLTJoLTIiLz48cGF0aCBkPSJNOSA1YTIgMiAwIDAgMSAyLTJoMmEyIDIgMCAwIDEgMiAydjBhMiAyIDAgMCAxLTIgMmgtMmEyIDIgMCAwIDEtMi0yIi8+PC9nPjwvc3ZnPg==') no-repeat 50% 50%;
  @apply bg-gray-900 dark:bg-gray-100;
}

.shiki .bh-copy.copied {
  @apply opacity-100;
}

.shiki .bh-copy.copied::before {
  mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxLjJlbSIgaGVpZ2h0PSIxLjJlbSIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIGQ9Ik05IDVIN2EyIDIgMCAwIDAtMiAydjEyYTIgMiAwIDAgMCAyIDJoMTBhMiAyIDAgMCAwIDItMlY3YTIgMiAwIDAgMC0yLTJoLTIiLz48cGF0aCBkPSJNOSA1YTIgMiAwIDAgMSAyLTJoMmEyIDIgMCAwIDEgMiAydjBhMiAyIDAgMCAxLTIgMmgtMmEyIDIgMCAwIDEtMi0ybTAgOWwyIDJsNC00Ii8+PC9nPjwvc3ZnPg==') no-repeat 50% 50%;
  @apply bg-green-600 dark:bg-green-400;
}

.shiki:hover .bh-copy {
  @apply opacity-100 duration-150;
}

/* 语言显示 */
.shiki .bh-lang {
  @apply absolute top-0 left-0 w-full text-right px-2 py-1 text-xs !text-gray-600 dark:!text-gray-400 opacity-100 duration-150 select-none;
}

.shiki:hover .bh-lang,
.shiki .bh-copy.copied + .bh-lang {
  @apply opacity-0;
}

/* task list */
.task-list-item {
  @apply flex items-center;
}

.task-list-item-checkbox {
  @apply relative appearance-none mr-2 h-4 w-4 border rounded disabled:opacity-80 disabled:cursor-not-allowed outline-none;
  @apply border-primary-400 checked:bg-primary-700 to-primary-500;
  @apply dark:border-dark-500 dark:checked:bg-dark-600 dark:to-dark-400;
}

.task-list-item-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}