@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full;
}

html {
  @apply min-h-screen bg-slate-100 relative text-black fill-black overflow-x-hidden;
}

html.dark {
  color-scheme: dark;
  @apply bg-slate-900 text-gray-50 fill-gray-50;
}

#app {
  @apply h-full min-h-screen relative;
}

a.link {
  @apply relative after:absolute after:h-0.5 after:-bottom-0.5 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100;
  @apply text-primary-600 fill-primary-600 dark:text-dark-300 dark:fill-dark-300 after:bg-primary-500 dark:after:bg-dark-400;
  @apply after:transition-transform after:origin-bottom-right hover:after:origin-bottom-left;
}

/* checkbox */
.checkbox {
  @apply relative appearance-none h-4 w-4 border rounded disabled:opacity-80 disabled:cursor-not-allowed outline-none hover:ring-2 focus:ring-2 ring-offset-2 transition-shadow;
  @apply border-primary-400 checked:bg-primary-700 ring-primary-500 ring-offset-gray-50;
  @apply dark:border-dark-500 dark:checked:bg-dark-600 dark:ring-dark-400 dark:ring-offset-slate-800;
}

.checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23171717' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-size: 20px 14px;
  @apply relative appearance-none py-0.5 ps-1.5 pe-5 rounded outline-none;
  @apply border border-primary-400 dark:border-dark-600;
  @apply bg-primary-50 dark:bg-slate-700 bg-no-repeat bg-right;
}

.dark select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fafafa' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

select::before {
  @apply w-full h-full absolute right-0 top-0;
}