@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: black;
  fill: black;

  overflow-x: hidden;
}

#app {
  min-height: 100vh;
  position: relative;
}

.dark:root {
  color-scheme: dark;
  color: white;
  fill: white;
}

a.link {
  @apply relative after:absolute after:h-0.5 after:-bottom-1 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100;
  @apply text-dark-600 fill-dark-600 dark:text-info-300 dark:fill-info-300 after:bg-dark-500 dark:after:bg-info-400;
  @apply after:transition-transform after:origin-bottom-right hover:after:origin-bottom-left;
}